Node-RED function.txt
[{"id":"b4ce236b.fefb6","type":"function","z":"59609fd9.4ca02","name":"check Time","func":"var date = new Date();\nvar hours = date.getHours();\nif(hours >= flow.get(\"from\") || (hours >=0 && hours < flow.get(\"to\")))\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["fac07b54.f7dfb8"]]},{"id":"e25e8c96.a4989","type":"blynk-ws-in-write","z":"59609fd9.4ca02","name":"","pin":"1","pin_all":0,"client":"bb48265.f40cad8","x":190,"y":180,"wires":[["14882473.9eb42c"]]},{"id":"14882473.9eb42c","type":"function","z":"59609fd9.4ca02","name":"Convert to BC format","func":"var finalString = '\"#'\nvar colorToSave = \"\";\nmsg.arrayOfValues.forEach((color) => {\n    var carry = (parseInt(color)).toString(16)\n    if(carry.length == 1) carry = \"0\" + carry;\n    finalString += carry;\n    colorToSave += carry;\n});\n\nflow.set(\"color\", colorToSave);\n\nif((flow.get(\"ledstrip\")) == false){\n    msg.payload = '\"#000000(00)\"'\n}\nelse{\n    var white = flow.get(\"white\");\n    if(white == null) white = \"00\";\n    msg.payload = finalString + '(' + white + ')\"'; \n}\n\n\nmsg.topic = \"node/power-controller:0/led-strip/-/color/set\";\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["fac07b54.f7dfb8"]]},{"id":"fac07b54.f7dfb8","type":"mqtt out","z":"59609fd9.4ca02","name":"","topic":"node/night-lamp:0/led-strip/-/color/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":910,"y":180,"wires":[]},{"id":"9026fcfe.2114c","type":"blynk-ws-in-write","z":"59609fd9.4ca02","name":"","pin":"2","pin_all":0,"client":"bb48265.f40cad8","x":190,"y":240,"wires":[["5f636a64.2c6374"]]},{"id":"38d499ab.5b25b6","type":"mqtt out","z":"59609fd9.4ca02","name":"","topic":"node/night-lamp:0/led-strip/-/brightness/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":1050,"y":240,"wires":[]},{"id":"5d7416b5.46eb38","type":"mqtt in","z":"59609fd9.4ca02","name":"","topic":"node/night-lamp:0/movement","qos":"2","broker":"e649966c.8c2af8","x":220,"y":80,"wires":[["2e6ea887.f7a558"]]},{"id":"2e6ea887.f7a558","type":"function","z":"59609fd9.4ca02","name":"Color Update","func":"var finalString = '\"#'\nmsg.payload = finalString + flow.get(\"color\") + \"(\" + \"00\" + \")\" + '\"';\nflow.set(\"savedColor\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["b4ce236b.fefb6"]]},{"id":"ffcc04df.97ab48","type":"mqtt out","z":"59609fd9.4ca02","name":"","topic":"node/night-lamp:0/led-strip/-/time/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":1050,"y":280,"wires":[]},{"id":"d5751124.8e083","type":"blynk-ws-in-write","z":"59609fd9.4ca02","name":"","pin":"3","pin_all":0,"client":"bb48265.f40cad8","x":190,"y":280,"wires":[["ba779812.0daf38"]]},{"id":"df5a614f.407e5","type":"blynk-ws-in-write","z":"59609fd9.4ca02","name":"","pin":"4","pin_all":0,"client":"bb48265.f40cad8","x":190,"y":320,"wires":[["926b13a0.29337"]]},{"id":"9004b135.921c9","type":"blynk-ws-in-write","z":"59609fd9.4ca02","name":"","pin":"5","pin_all":0,"client":"bb48265.f40cad8","x":190,"y":360,"wires":[["ec760845.b5ba68"]]},{"id":"926b13a0.29337","type":"function","z":"59609fd9.4ca02","name":"From Time Store","func":"flow.set(\"from\", parseInt(msg.payload)/3600);","outputs":1,"noerr":0,"x":470,"y":320,"wires":[[]]},{"id":"ec760845.b5ba68","type":"function","z":"59609fd9.4ca02","name":"To Time Store","func":"flow.set(\"to\", parseInt(msg.payload)/3600);","outputs":1,"noerr":0,"x":460,"y":360,"wires":[[]]},{"id":"ba779812.0daf38","type":"function","z":"59609fd9.4ca02","name":"Light Time Store","func":"flow.set(\"ligtTime\", parseInt(msg.payload));\nreturn msg","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["ffcc04df.97ab48"]]},{"id":"376987d1.ba0d08","type":"mqtt in","z":"59609fd9.4ca02","name":"","topic":"node/night-lamp:0/info","qos":"2","broker":"e649966c.8c2af8","x":180,"y":500,"wires":[["bb322c31.47be6","c71175f1.057758","81f6a1f7.4fdd3"]]},{"id":"bb322c31.47be6","type":"function","z":"59609fd9.4ca02","name":"Brightness load","func":"msg.payload = flow.get(\"brightness\");\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["38d499ab.5b25b6","c80f3a2a.df2578"]]},{"id":"c71175f1.057758","type":"function","z":"59609fd9.4ca02","name":"Time set load","func":"msg.payload = flow.get(\"ligtTime\");\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":520,"wires":[["ffcc04df.97ab48","cdb8d7d2.64e7a8"]]},{"id":"81f6a1f7.4fdd3","type":"function","z":"59609fd9.4ca02","name":"Color Load","func":"msg.payload = flow.get(\"savedColor\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["fac07b54.f7dfb8"]]},{"id":"5f636a64.2c6374","type":"function","z":"59609fd9.4ca02","name":"Brightness Store","func":"flow.set(\"brightness\", parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["38d499ab.5b25b6"]]},{"id":"cdb8d7d2.64e7a8","type":"blynk-ws-out-write","z":"59609fd9.4ca02","name":"","pin":"3","pinmode":0,"client":"bb48265.f40cad8","x":780,"y":520,"wires":[]},{"id":"c80f3a2a.df2578","type":"blynk-ws-out-write","z":"59609fd9.4ca02","name":"","pin":"2","pinmode":0,"client":"bb48265.f40cad8","x":780,"y":480,"wires":[]},{"id":"bb48265.f40cad8","type":"blynk-ws-client","z":"","name":"Night Lamp","path":"ws://127.0.0.1:8080/websockets","key":"c3360cee413345adb28dbc84989e206b","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]